*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: #e5e3de;
  color: #2E2C08;
}

a {
  color: #2E2C08;
}

img {
  max-width: 100%;
}

p,
h2 {
  padding: 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.container {
  padding: 1em;
  margin: 2em;
  max-width: 50em;
  background: white;
}

.article__text,
.article__image {
  padding: 1em;
}

.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.article__image {
  min-width: 250px;
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 40%;
  flex-shrink: 1;

}

.article__text {
  flex-grow: 1;
  flex-basis: 60%;
  flex-shrink: 1;
}

/* Zde je místo pro vaše styly.*/
